body{
    text-decoration: none;
    width: 100%;
}
#imagesize{
    height: 700px;
    width:100%;
    margin: 0px;
    padding: 0px;
}
.thatside{
    background-color:#000000;
    color:#808000;
    
}
#col1{
     margin:200px 10% 100px 10%;
}
div.col-4{
    padding: 0px;
}
#midhead{
    margin-left: 60%;
}
.card{
    height:200px;
    margin: 20px;
}
.boxes{
    margin: 90px;
}
.message{
    text-shadow: 15px 15px 15px #696969;
}
.bottom{
    background-color:#E0FFFF;
    border: 1px solid #00CED1;

    margin-bottom: 20px
}
.sizing{
    width: 100%;
    height: 250px;
    padding: 15px;
    box-shadow: 7px 7px 7px #696969;
    margin-bottom: 10%;
    
}
.cards{
    border: 1px solid #D8BFD8;
height: 300px;
}
#foot{
    background-color:#6495ED;
    color: #000000;
}
.myself{
    border: 2px solid #00FF00;
}
.mybox{
    height: 80%;
    text-shadow: 15px 15px 15px #696969;
    box-shadow: 10px 10px 10px #696969;
}
.mybox:hover{
    background-color: #DDA0DD;
}